.cop-carousel-container * {
    box-sizing: border-box;
}

.cop-carousel-container {
    overflow-x: hidden;
}

.cop-carousel-container.vertical {
    overflow-x: inherit;
    overflow-y: hidden;
    height: 100%;
}

.cop-carousel {
    visibility: visible;
    position: relative;
    display: none;
}

.cop-carousel,
.cop-carousel * {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    transform: translate3d(0, 0, 0)
}

.cop-carousel > * {
    float: left;
    overflow: hidden;
}

.cop-carousel-container.vertical .cop-carousel > * {
    float: none;
    width: 100%;
}